@aquamarine: #7fffd4;
@green: #008000;

.margenes(@top: 0px, @bottom 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron{
	background-color: @aquamarine;
	color: black;
	.margenes(30px, 5px);
}

.btn{
	color:darkblue;
	background-color: chartreuse;
	
}

footer{
	padding: 10px 10px 0 10px;
	background-color: @aquamarine;
	color: @green;
	.margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	margin-top: 10px;

}

.marg-imag{
	padding-right: 6px;
}

.btn-imgenes{
	width: 100%;
}

.tamagnosimg-sup{
	width: 100%;
	height: 180px;
}
.tab-content{
	padding-top: 10px;
}