.jumbotron {
  background-color: #7fffd4;
  color: black;
  @incluide margenes(30px, 8px); }

.btn {
  color: darkblue;
  background-color: chartreuse; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #FF00FF;
  color: black;
  @incluide margenes(10px, 0px); }

.card-hotel {
  flex: 1 200px;
  @incluide margenes(10px, 0px); }

.marg-imag {
  padding-right: 6px; }

.btn-imgenes {
  width: 100%; }

.tamagnosimg-sup {
  width: 100%;
  height: 180px; }

.tab-content {
  padding-top: 10px; }
