.jumbotron {
  background-color: #7fffd4;
  color: black;
  margin-top: 30px;
  margin-bottom: 5px;
}
.btn {
  color: darkblue;
  background-color: chartreuse;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #7fffd4;
  color: #008000;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
}
.marg-imag {
  padding-right: 6px;
}
.btn-imgenes {
  width: 100%;
}
.tamagnosimg-sup {
  width: 100%;
  height: 180px;
}
.tab-content {
  padding-top: 10px;
}
